/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

header {
    background-color: #563d7c;
    color: #fff;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

main {
    padding: 20px;
}

.results {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.answer-choice {
    margin-bottom: 10px;
}

.submit-button {
    margin-top: 20px;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #E5E5E5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.correct-answer {
  padding-top: 10px;
}

.loaded-json {
  color: #00B2EE; /* Change the color value to your desired color */
}