<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment ToolKit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">508</h1>
        <form action="{{ url_for('submit') }}" method="POST">
            {% for question in questions %}
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Question {{ question.qid }}</h5>
                  <p class="card-text">{{ question.question }}</p>
                  {% if question.screenshot %}
                  <img src="{{ url_for('static', filename='screenshots/' + question.screenshot) }}" class="card-img-top" alt="Question Screenshot">
                  {% endif %}
                  <form action="{{ url_for('submit') }}" method="POST">
                    <input type="hidden" name="question_id" value="{{ question.qid }}">
                    <div class="form-check">
                      {% for answer in question.answers %}
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="answer" id="answer{{ loop.index }}" value="{{ answer }}">
                          <label class="form-check-label" for="answer{{ loop.index }}">
                            {{ answer }}
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>